.dnnFormItem .help-block {
 display: none;
 color: red;
 font-weight: bold;
 margin-left: 32.075%;
 padding-left: 40px;
}

.dnnFormItem.has-error .help-block {
 display: block;
}
.dnnFormItemValue {
 margin-left: 32.075%;
 padding-left:38px;
}
.cp_checkboxList {
 list-style: none;
}

.btnright {
 width: 100%;
 text-align: right;
}

.cp_dropzone {
 min-height: 200px;
 min-width: 400px;
 background-color: #eee;
 border: 2px dotted #666;
 margin: 10px;
}

.cp_dropzone_hover {
 background-color: #a3d3f6;
}

.cp_sortable {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.cp_sortable li {
 display: inline-block;
 width: 160px;
 padding: 10px;
 border: 1px solid #999;
 border-radius: 5px;
 margin: 10px;
 background-color: #eee;
}

.cp_sortable li div.delbutton {
 width: 100%;
 text-align: right;
}

.delbutton a, .delbutton a:hover {
 text-decoration: none;
}

.cp_sortable div.imagetn {
 width: 100%;
 text-align: center;
 padding-bottom: 10px;
}

.cp_sortable textarea {
 width: 140px;
 margin-bottom: 10px;
}

.cp_album_droptext {
 width: 100%;
 text-align: center;
 padding: 20px;
 font-size: large;
 color: #999;
}

.cp_container {
 width: 100%;
 margin-bottom: 30px;
}

.cp_column {
 width: 50%;
 float: left;
 vertical-align: top;
}

dl.cp_dl_horizontal {
 margin-bottom: 15px;
 overflow: hidden;
}

dl.cp_dl_horizontal dt {
 float: left;
 font-weight: bold;
 margin-right: 10px;
 padding: 5px;
 width: 100px;
}

dl.cp_dl_horizontal dd {
 margin: 2px 0;
 padding: 5px 0;
}

dl.cp_dl_horizontal dd span {
 margin: 0 10px 0 0;
 border-bottom: 1px dotted #999;
}

.cp_img {
 width: 100%;
 padding: 20px;
 text-align: center;
}

.cp_img span {
 display: block;
 font-size: smaller;
 font-weight: bold;
}

.cp_pl_project {
 display: list-item;
 width: 390px;
 height: 100px;
 overflow: hidden;
 float: left;
 padding: 10px;
 cursor: pointer;
}
.cp_pl_title {
 color: white;
 font-weight: bold;
 font-size: larger;
 padding-left: 110px;
}
.cp_pl_other {
 color: white;
 padding-left: 110px;
}
.cp_pl_img {
 float: left;
}
.cp_pl_other a, .cp_pl_other a:hover, .cp_pl_other a:active, .cp_pl_other a:visited {
 color: white;
 text-decoration: none;
}
.cp_pl_other a:hover {
 color: #ddd;
}
.cp_pl_edit {
 text-align: right;
}
.cp_pl_btns {
 padding-top: 30px;
 clear: both;
}
div.cp_pl_invisible {
 border-right: 10px solid #666;
 padding-right: 20px;
}
.cp_editurl {
 width: 100%;
}
.cp_editurl input, .cp_editurl div {
 width: 340px;
 padding: 4px;
 display: inline-block;
}
