.dnnFormItem .help-block {
  display: none;
}

.dnnFormItem.has-error .help-block {
  display: block;
}

.cp_dropzone {
 min-height: 200px;
 min-width: 400px;
 background-color: #eee;
 border: 2px dotted #666;
}
